//font import
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

//variables
$white: #fff;
$blue: #fc6c6b;
$grey: #26d0eb;
$font: 'VT323', sans-serif;

//default reset
* {
    margin: 0;
    padding: 0;
}

//styleing
nav {
    width: 100%;
    margin: auto;
    display: flex;
    padding: 1rem 0;

    //stick the navbar to the top
    position: fixed;
    top: 0;
    background-color: white;
    //shadow
    box-shadow: -1px 13px 11px -12px rgba(54, 54, 54, 0.4);

    .contain {
        width: 90%;
        margin: auto;
        display: flex;
    }
}

nav img {
    height: 63px;
    width: 118px;
    // padding-right: 730px; // change this to change the logo position
}

nav-links ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav-links ul li {
    text-decoration: none;
    font-size: 3rem;
    margin: 0px 6px 7px 20px;
    color: $blue;
}

nav-links ul li a {
    text-decoration: none;
    color: $blue;
    font-family: $font;
    font-size: 1.7rem;
    transition: 0.2s;
}

//style of trade btn
.tradeBTN {
    color: $white;
    border: 2px solid #f7c53d;
    background-color: $blue;
    text-shadow: -1px 0 #f7c53d, 0 1px #f7c53d, 1px 0 #f7c53d, 0 -1px #f7c53d;
    padding: 5px 23px 5px 23px;
}

//style of stake btn
.stakeBTN {
    color: $white;
    background-color: $blue;
    border: 2px solid #f7c53d;
    text-shadow: -1px 0 #f7c53d, 0 1px #f7c53d, 1px 0 #f7c53d, 0 -1px #f7c53d;
    padding: 5px 23px 5px 23px;
}

//hover efects
nav-links ul li a:hover {
    border-bottom: 3px solid $blue;
    padding-bottom: 1px;
}

.tradeBTN:hover {
    border-bottom: none;
    padding-bottom: 5px;
    background-color: $grey;
}

.stakeBTN:hover {
    border-bottom: none;
    padding-bottom: 5px;
    background-color: $grey;
}

.account-address {
    font-size: 0.9rem;
    color:  #fc6c6b;
    font-weight: bold;
    
}

.block {
    display: block;
}

//responsive

@media screen and (max-width: 800px) {
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0px 20px 0px;
    }
    ul {
        padding-top: 10px;
    }
    nav-links ul li {
        margin: 0px 12px 0px 12px;
    }
    nav img {
        padding-right: 0px;
    }
}

//working on 450px and smaller

@media screen and (max-width: 450px) {
    nav-links ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav-links ul li {
        padding: 5px 0px 5px 0px;
    }
}
