body {
  background: #e4ebf5;
  color: lime;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 26px;
  margin-bottom: auto;
}

.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "Night";
  padding-left: 10px;
  background-color: #EEEEEE;
  color: #999999;
}

.onoffswitch-inner:after {
  content: "Day";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  height: 18px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.ribbon-w {
  width: 20%;
  margin-bottom: 24px;
  margin-top: 60px;
}

.r-card {
  border-radius: 80px;
  margin: 12px;
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.42), 0 6px 20px 0 rgba(133, 94, 94, 0.59);
  
}

.svg-top {
  position: absolute;
 top: 30px;
  z-index: 1 !important;
}

.br {
  width: 100%;
  height: 270px;
}

.svg-bottom {
  margin-top: -60px;
  z-index: 1 !important;
}

.r-card2 {
  
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}





.btn-link {
  color: lime;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 1000px;
  font-weight: 600;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 1000 !important;
  box-shadow: -7px -7px 20px 0px #fff9,
              -4px -4px 5px 0px #fff9,
              7px 7px 20px 0px #0002,
              4px 4px 5px 0px #0001,
              inset 0px 0px 0px 0px #fff9,
              inset 0px 0px 0px 0px #0001,
              inset 0px 0px 0px 0px #fff9,
              inset 0px 0px 0px 0px #0001;
}

.bg {
  color: lime;
  background: #e4ebf5;
  padding-bottom: 135px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 20rem;
  height: 0 auto;
 
  
}

.nt {
  background-color: #161b22;
  
  text-shadow: horizontal-shadow vertical-shadow blur rgb(255, 0, 200);
  padding-bottom: 25rem;
}

.color {
  text-align: center;
  color: #4D3A40;
}

.img-logo {
  width: 45%;
  margin-bottom: 12px;
}

.mainCard {
  
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 5%;
  width: 36rem;
  height: 27.5rem;
  
}

.seeTheMenu {
  background-color: transparent;
}

.card {
  background-color: transparent;
}

.catImg {
  display: flex;
  justify-content: center;
}

.balances1 {
  padding: 1rem;
  margin: 1rem;
  animation: color-change 5s infinite;
 color: rgb(26, 117, 117);
  background-color: transparent;
}

.balances2 {
  padding: 1rem;
  margin: 1rem;
  animation: color-change 5s infinite;
 color:rgb(26, 117, 117);
  background-color: transparent;
}

@keyframes color-change {
  14% { color: rgb(37, 150, 150); }
  28% { color: rgb(224, 18, 196); }
  42% { color: rgb(190, 0, 0); }
  56% { color: rgba(0, 255, 0, 0.39); }
  70% { color: rgba(0, 0, 255, 0.589); }
  84% { color: indigo; }
  100% { color: rgba(238, 130, 238, 0.521); }
  
  
}

.farmCards {
  
  margin-top: 15%;
  color: lime;
  background-color: transparent;
}

Card {
  color: lime;
}
.cardContainer {
 
 padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.menuBtn {
  display: flex;
  justify-content: center;
  margin: 0 auto;   
  margin-top: 5rem;
  margin-bottom: .5rem;
}



@media only screen and (max-width: 992px) {
  .img-logo {
    width: 80%;
  }

  .svg-top{
    margin-top: 240px;
  }
}

@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    /* styles */
}

/* iPhone XR */
@media only screen 
    and (min-device-width: 414px) 
    and (min-device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) { 

    .mainCard {
      bottom-padding: 20rem;
      height: 50rem;
    }
    /* styles */
}

/* iPhone X */

@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) { 

       .balances1 {
         border: 2px solid red;
       }

 
    /* styles */
}